@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h3>Directions:</h3>
    <p>
        Complete the implementation of IToDoItemService. The service will be responsible for making calls to a REST Api and returning the results.
        Base URL located in appsettings.json.
    </p>
    <ul>
        <li>
            Complete the class ToDoItem to be used to deserialize the results.
        </li>
        <li>
            ToDoService.GetAll should return all ToDoItems.
        </li>
        <li>
            ToDoService.GetAllCompleted should return all ToDoItems that are marked as complete.
        </li>
        <li>
            ToDoService.GetIncompleteForUser should return all ToDoItems that are not marked as complete for a given user ID.
        </li>
        <li>
            (optional) Register the service for Dependency Injection.
        </li>
        <li>
            Create a View to display the data returned from one of the methods in the service.
        </li>
        <li>
            Add a link to the View to the site's navigation bar.
        </li>
    </ul>

</div>
